<div class="container">
	<h2 class="text-center text-warning">Sitemizde Bulunan Müzik Aletleri</h2>
	<div class="row justify-content-center">
		<div class="col-1">
			<ul class="text-center">
				<li>Gitar</li>
				<li>Davul</li>
				<li>Piyano</li>
				<li>Keman</li>
			</ul>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-1">
			<a href="/home/about" class="btn btn-primary">Hakkımızda</a>
		</div>
	</div>
</div>