<header>
	<div class="jumbotron mb-0 pb-0">
		<h1 class="display-4 text-center text-danger">Merhaba!</h1>
		<p class="lead text-center px-5">
			Müzik Dükkanım sitemize hoş geldiniz! Bu sitede çeşitli müzik aletlerini
			bulabilirsiniz. Uygun fiyatlarımız ve kaliteli ürünlerimiz için
			<a href="/home/products">Ürünlerimiz</a> sayfamızı ziyaret edebilirsiniz.
			<hr class="mt-5">
	</div>
</header>