<header style="background-color:chocolate">
	<nav style="background-color:antiquewhite; color:burlywood">Burası navigasyon kısmıdır.</nav>
	<div style="font-family:'Baskerville Old Face'">
		<ul>
			<li>
				Lorem ipsum dolor vet.
			</li>
			<li>
				Kau lask oqas.
			</li>
		</ul>
	</div>
</header>

