<img src="https://static.ticimax.cloud/cdn-cgi/image/width=-,quality=85/10037/uploads/urunresimleri/buyuk/konyaspor-yesil-forma-901f6c.jpg" alt="Konyaspor" />
<p style="font-size:large">Konyaspor... Elbet bir gün sampiyon olacaksın Anadolu Kartalı!!!</p>